#####################################################################
# 	Extruder and heater
#####################################################################

#	E0 on MCU X/Y
[extruder]
step_pin =                     E0_STEP
dir_pin =                      !E0_DIR
enable_pin =                   !E0_EN

rotation_distance =            22.165
microsteps =                   16
full_steps_per_rotation =      200
gear_ratio =                   50:17

nozzle_diameter =              0.800
filament_diameter =            1.75
max_extrude_only_distance =    100.0
heater_pin =                   HE0

## Config for Voron Stepstick PT100 amplifier connected to the E1 slot
##--------------------------------------------------------------------
sensor_type =                  MAX31865
sensor_pin =                   E1_RX
spi_speed =                    4000000
spi_software_sclk_pin =        SCK
spi_software_mosi_pin =        MOSI
spi_software_miso_pin =        MISO
rtd_nominal_r =                100
rtd_reference_r =              390 #If you want to be super precise, measure the resistor on the stepstick board
rtd_num_of_wires =             2
rtd_use_50Hz_filter =          true
## Regular thermistor config
##--------------------------------------------------------------------
#sensor_type =                 ATC Semitec 104GT-2
#sensor_pin =                  P0.24
##--------------------------------------------------------------------
min_temp =                     10
max_temp =                     270
max_power =                    1.0
min_extrude_temp =             170
control =                      pid
pid_Kp =                       30.710
pid_Ki =                       1.528
pid_Kd =                       154.319
pressure_advance=              0.040
pressure_advance_smooth_time = 0.040

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
#	SSR Pin - Z board, Fan Pin
heater_pin =  z: FAN
sensor_type = NTC 100K MGB18-104F39050L32
sensor_pin =  z: TH1
max_power =   0.6
min_temp =    0
max_temp =    120
control =     pid
pid_kp =      40.599
pid_ki =      1.681
pid_kd =      245.114

[temperature_sensor bedcorner]
sensor_type = ATC Semitec 104GT-2
sensor_pin =  z: TH0
min_temp =    0
max_temp =    120
gcode_id =    BC

#####################################################################
# 	Macros
#####################################################################
[gcode_macro store_extruder_temp]
gcode =
  SET_GCODE_VARIABLE MACRO=restore_extruder_temp VARIABLE=temp VALUE={printer.extruder.target}

[gcode_macro restore_extruder_temp]
variable_temp = 0
gcode =
  M104 S{temp}